* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

.cards_item{
    height: 200px; 
    background-color: lightgray;
}

#iconPerson{
    width: 50px;

}
.card{
   border: none;
}
.card:hover{
    color:rgb(204, 204, 204);
    width: 90%;
 }

.card img{
    border-radius: 10px;
}


.card-body{
    border-radius: 10px;
    
}

#imglist{
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: black;
}
.RedesFooter h3 a{
    text-decoration: none;
    color: rgb(194, 194, 194);

}
.RedesFooter h3 a:hover{
    text-decoration: none;
    color: rgb(49, 49, 49);

}
.ImagemDetalhe img{
    width: 100%;

}
.image-container {
    max-width: 100%;
    height: auto;
    position: relative;
}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: flex-end;
    justify-content: start;
    color: white;
}
#CardsSeries{
    height: 400px;
}
#imgcard{
    width: 158px;
    height: 300px;
}
#img_card_detalhe{
    width: 100%;
    height: 300px;
}
#imgcard_exemplo{
    width: 100%;
    height: 300px;
}


.text-overlay { 
    margin-left: 20px;
}
.text-overlay #text1{
    width: 20px;
}

@media (max-width: 760px) {
    #sumir {
      display: none;
    }
    
}
@media (max-width: 400px) {
    #sumir2{
        display: none;
    }
}
@media (max-width: 1000px) {
    main {
      margin: 20px;
    }
}
.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 2rem;
    color: #888;
    transition: color 0.3s ease-in-out;
  }
  .bi-heart-fill{
    color: red;
  }
  .bi-heart{
    color: red;
  }
  
  .like-btn i {
    font-size: 2rem;
    transform-origin: center;
  }
  
  .like-btn.active i {
    color: #19b361; /* Vermelho para "curtido" */
    animation: pulse 0.6s ease;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .like-btn:hover i {
    color: #fca5a5; /* Vermelho mais claro ao passar o mouse */
  }
  .linkcard{
    font-style: none;
    text-decoration: none;
    color:  #212529;
    font-style: italic;
  }
.bgzin{
  background: linear-gradient(180deg, transparent, black, transparent);

}
.bgzin2{
  background: linear-gradient(180deg, transparent, black, black);

}
  
  
