.cards_item{
    height: 200px; 
    background-color: lightgray;
}
.card-title{
    color: rgb(0, 132, 255);
}
#iconPerson{
    width: 50px;

}
.card{
    border: none;
}
#imglist{
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: black;
}
.RedesFooter h3 a{
    text-decoration: none;
    color: rgb(194, 194, 194);

}
.RedesFooter h3 a:hover{
    text-decoration: none;
    color: rgb(49, 49, 49);

}
.ImagemDetalhe img{
    width: 100%;

}
.image-container {
    max-width: 100%;
    height: auto;
    position: relative;
}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: flex-end;
    justify-content: start;
    color: white;
}
#CardsSeries{
    height: 400px;
}
#imgcard{
    width: 158px;
    height: 300px;
}
#img_card_detalhe{
    width: 232px;
    height: 300px;
}
#imgcard_exemplo{
    width: 286px;
    height: 300px;
}


.text-overlay { 
    margin-left: 20px;
}
.text-overlay #text1{
    width: 20px;
}

@media (max-width: 760px) {
    #sumir {
      display: none;
    }
    
}
@media (max-width: 400px) {
    #sumir2{
        display: none;
    }
}
@media (max-width: 1000px) {
    main {
      margin: 20px;
    }
}

